#nm{
color: yellow;
}
#nm:hover{
color:white;
}
#box{
text-align:center;
margin:auto;
}
#frm{
padding:60px;
border:2px solid blue;
border-radius:20px;
}
#d{
border:2px solid black;
border-radius:10px;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
}

.menu a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffc107;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.menu a:hover::before {
  transform: scaleX(1);
}

.menu a:hover {
  color: #ffc107;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 20px;
  }

  nav {
    margin-top: 20px;
  }

  .menu {
    flex-direction: column;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


</style>
